/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-ygbq3fulx6] {
    position: relative;
    display: flex;
    flex-direction: column;
}

header[b-ygbq3fulx6] {
    width: 100%;
}

main[b-ygbq3fulx6] {
    flex: 1;
}

@media (min-width: 641px) {
    article[b-ygbq3fulx6] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-a3oclpd6r0] {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-brand[b-a3oclpd6r0] {
    font-size: 1.1rem;
}

@media (min-width: 641px) {
    .navbar-toggler[b-a3oclpd6r0] {
        display: none;
    }

    .collapse[b-a3oclpd6r0] {
        /* Nunca colapsar el menú en pantallas anchas */
        display: block;
    }
}
