@inherits LayoutComponentBase
<div class="page">
    <header>
        <NavMenu />
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    </div>
<footer class="border-top footer text-muted">
    <div class="container text-center">
        <p>&copy; 2026. Desarrollado con amor por Wilmer Rodríguez Vega.</p>
        <p><q>Nosce te ipsum</q></p>
    </div>
</footer>
