.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

main {
    flex: 1;
}

@media (min-width: 641px) {
    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
